body {
  background: #263238;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin-top: 60px;
}

.post-card {
  border: 2px solid #4FC08D;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}
.post-button{
  margin-bottom: 19px;
}
.close-button{
  float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #337ab7;
    filter: alpha(opacity=20);
    background: #263238;
}
